.task-table {
    width: 50%;
    background-color: #ebe6e6;

    thead {
        background-color: #f5f3f3;

        tr {
            th {
                padding: 10px;
                text-transform: uppercase;
                color: #161616;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #050505;

            td {
                padding: 10px;
            }
        }
    }
}

.section {
    text-align: center;
    padding: 50px 0;

    .wrapper-header {
        img  {
            width: 60px;
            margin-bottom: 10px;
        }

        .title {
            transform: translate(0px, 0px);
            font-size: 30px;
            font-weight: 500;

            @media only screen 
            and (min-device-width: 320px) 
            and (max-device-width: 568px)
            and (-webkit-min-device-pixel-ratio: 2)
            and (orientation: portrait) {
                margin-bottom: 20px;
            }

            span {
                font-size: 30px;
                color: #FE9901;
                font-weight: 500;
            }
        }

        .text {
            transform: translate(0px, 0px);
        }
    }

    .form {
        @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {
            display: none;
        }
        
        .wrapper-form-group {
            margin-bottom: 20px;

            label {
                img {
                    width: 15px;
                }
            }
            
            input,
            textarea {
                text-align: left;
                margin: 0 auto;
                margin-left: 10px;
                width: 60%;
                border: 1px solid #B3B3B3;
                border-radius: 5px;
                padding: 5px 10px;
            }

            textarea {
                display: inline-table;
            }

            input:focus,
            textarea:focus {
                outline: 0;
                border: 1px solid #FE9901;
            }
        }

        .txt-error {
            margin: 0 auto;
            margin-top: -15px;
            display: block;
            margin-bottom: 10px;
            text-align: left;
            width: 60%;
            position: relative;
            left: 60px;

            img {
                width: 6px;
                position: relative;
                top: -2px;
                margin: 0 5px;
            }
        }

        .wrapper-message {
            label,
            textarea {
                position: relative;
                left: -15px;
            }
        }

            .btn-learn-more {
                background-color: #444343;
                border: 1px solid #B3B3B3;
                color: #FFFFFF;
                position: relative;
                left: 80px;
                padding: 8px 25px;
                border-radius: 5px;
            }
        
    }

    .row {
        
        padding: 5px 0;
    
        @media only screen 
        and (min-device-width: 200px) 
        and (max-device-width: 300px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {
            padding-bottom: 20px;
        }
        
        .wrapper-search {
            width: 100%;
    
            @media only screen 
            and (min-device-width: 200px) 
            and (max-device-width: 300px)
            and (-webkit-min-device-pixel-ratio: 2)
            and (orientation: portrait) {
                width: 100%;
            }
    
            .wrapper-form-control {
                @media only screen 
                and (min-device-width: 200px) 
                and (max-device-width: 300px)
                and (-webkit-min-device-pixel-ratio: 2)
                and (orientation: portrait) {
                    width: 100%;
                }
        
                input {
                    display: inline-block;
                    padding: 10px 15px;
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid #afafaf;
                    
                    @media only screen 
                    and (min-device-width: 200px) 
                    and (max-device-width: 300px)
                    and (-webkit-min-device-pixel-ratio: 2)
                    and (orientation: portrait) {
                        margin-bottom: 10px;
                    }
                }
    
                input::placeholder {
                    position: relative;
                    left: 25px;
                }
    
                input:focus {
                    border: 1px solid #FE9901;
                    background-image: none;
                }
    
                input:focus::placeholder {
                    color: transparent;
                }
            }
        
            .wrapper-button {
                width: 20%;
                float: right;
                button {
                    padding: 10px 50px;
                    text-transform: uppercase;
                    border-radius: 6px;
                    font-weight: 500;
                    transition: 0.2s;
                    background-color: #FE9901;
                    color: #FFFFFF;
                    border: 1px solid #FE9901;
    
                    @media only screen 
                    and (min-device-width: 200px) 
                    and (max-device-width: 300px)
                    and (-webkit-min-device-pixel-ratio: 2)
                    and (orientation: portrait) {
                        width: 100%;
                    }
                }
            
                button:hover {
                    background-color:  #FFFFFF;
                    color: #FE9901;
                    transition: 0.2s;
                }
            }
        }
    }
}
